.hero{
	text-align: center;
	font-family: 'MuseoModerno', cursive;

}
#intro{
	font-size: 40px;
	color: red;
}





p{
	color: violet;
     font-family: 'MuseoModerno', cursive;
    font-size: 49px;
    background-color: green;
}